# /docker/monitoring_stack/prometheus.yml

global:
  scrape_interval: 15s 

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    # Use the custom hostname defined in the docker-compose.yml 'extra_hosts' section
    static_configs:
      - targets: ['server-host:9100']
