# /docker/monitoring_stack/prometheus.yml (Ensure this is correct)

global:
  scrape_interval: 15s 

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    # MUST be localhost:9100 because node_exporter is in host mode
    static_configs:
      - targets: ['localhost:9100']
